<%- include('header'); -%>
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <% newListItems.forEach(function(oneItem) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= oneItem._id %>" onchange="this.form.submit()">
          <p><%= oneItem.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
      <% }) %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
  </div>
  <%- include('footer'); -%>